// @use 'constants' as *;
@use 'sass:math';

$desktop-width: 1920;
$laptop-width: 1440;
$mobile-width: 390;

@function fluid($max: 100, $min: 10, $isEndOfLaptop: false){
    $maxViewportWidth: $desktop-width;
    $minViewportWidth: $mobile-width;

    @if ($isEndOfLaptop){
        $minViewportWidth: $laptop-width;
    }

    $maxSize: math.div($max, 16);
    $minSize: math.div($min, 16);
    $maxWidth: math.div($maxViewportWidth, 16);
    $minWidth: math.div($minViewportWidth, 16);

    $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
    $yAxisIntersections: -$slope * $minWidth + $minSize;

    @if ($slope == 0) {
        @return #{$minSize}rem;
    }

    @return clamp(
        #{$minSize * 1rem},
        calc(#{$yAxisIntersections * 1rem} + #{$slope * 100vw}),
        #{$maxSize * 1rem}
    );
}

@function fluid-to-laptop($max: 100, $min: 10) {
  @return fluid($max, $min, true)
}